<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <p>タイトル</p>
  <%= link_to post.title, post %>
  <p>説明</p>
  <%= post.description %>
  <p>ジャンル</p>
    <%= link_to post.genre.name, genre_path(post.genre.id) %>
<% end %><br>
<%= link_to "トップページへ", root_path %>