<h2>検索結果</h2>

<!--検索対象モデルがUserの時 -->
<% if @range == "User" %>
  <% @users.each do |user| %>
    <%= user.name %>
  <% end %>
  <% else %>
<!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
  <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.genre.name %>
  <% end %>
<% end %>