<div class='container mt-5'>
  <h2 style="background-color:black;color:dark;display:inline" class="bg-light text-dark">フォロワー一覧</h2>
  <div class='row mt-5'>
    <div class='col mx-auto'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>投稿数</th>
            <th>フォロワー数</th>
          </tr>
        </thead>
        <tbody>
          <% if @users.exists? %>
            <% @users.each do |user| %>
              <tr>
                <th><%= user.id %></th>
                <th><%= link_to user.name, admin_user_path(user.id) %></th>
                <th><%= user.post.count %>投稿</th>
                <th><%= user.followers.count %></th>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>