投稿一覧
<% @posts.each do |post| %>
<p>タイトル</p>
<%= link_to post.title, admin_post_path(post.id) %>
<p>説明</p>
<%= post.description %>
<p>ジャンル</p>
<%= link_to post.genre.name, admin_genre_path(post.genre.id) %>
<% end %><br>
<%= link_to "トップページへ", root_path %>