<div class='container mt-5'>
  <h2 style="background-color:black;color:dark;display:inline" class="bg-light text-dark">いいね一覧</h2>
  <div class='row mt-5'>
    <div class='col mx-auto'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>投稿者</th>
            <th>タイトル</th>
            <th>動画説明</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @favorite_posts.each do |post|%>
          <tr>
            <th><%= link_to post.user.name, user_path(post.user.id) %></th>
            <th><%= post.description %></th>
            <th><%= post.description %></th>
            <th><%= link_to post.genre.name, genre_path(post.genre.id) %></th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>