<div class='container mt-5'>
  <h2 style="background-color:black;color:dark;display:inline" class="bg-light text-dark">ユーザー一覧</h2>
  <div class='row mt-5'>
    <div class='col-8 mx-auto'>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ユーザーID</th>
            <th>ユーザー名</th>
            <th>投稿数</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th><%= user.id %></th>
            <th><%= link_to user.name, user_path(user.id) %></th>
            <th><%= user.post.count %>投稿</th>
          </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
  <div  class="mx-auto" style="width: 200px;">
    <%= paginate @users %>
  </div>
</div>
